ul{
  font-family: cursive;
  background-color: #17a2b8;
  height: 7%;
  li{
    height:100%
  }
  span{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    a{

      font-size: large;
      //height: 100%;

      //&:link {
      //  color: #17a2b8;
      //  //background-color: #17a2b8;
      //}
      &:visited {
        color: white;
        background-color: #17a2b8;
      }
      &:hover {
        color: white;
      }
      &:active {
        color: black;
      }
    }
  }

}
