div{
  font-family: cursive;
}

.weather-card-wrapper{
  width: 100%;
  background: #fff;
  border-radius: 2px;
  display: inline-block;
  //height: 300px;
  margin: 1rem;
  position: relative;
  //width: 300px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.weather-table-wrapper{
  border-style: solid;
  border-width: 10px;
  border-color: white;
  //background: gray;
  border-radius: 20px;
  min-height: 800px;
}
.table{
   thead{
    background: #cccccc;
   }
}
.temp-details-wrapper{
  display: flex;
  flex-direction: row;
}
.temp-details-left{
  display: flex;
  flex-direction: column;
}
.temp-details-right{
  padding-left:7px ;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.weather-icon{
  width: 50px;
  background-color: burlywood;
}
.temp-label{
  font-weight: 300;
  metric {
    vertical-align: super;
    margin: 0 0.25em;
    font-size: x-small;
  }


}
.row-active{
  background: #eaecec;
  //color: aliceblue;
}

